*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

:root {
  --backgroundColor: #2a2e35;
  --buttonPanelColor: #e07777;
  --headerColor: -webkit-linear-gradient(0deg, #ff6363 0%, #57c4ff 100%);
}

html {
  font-size: 62.5%;
  background: var(--backgroundColor);
  display: flex;
  justify-content: center;
}

body {
  box-sizing: border-box;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: clamp(1rem, 100vw, 89rem);
}

header {
  display: flex;
  justify-content: center;
  width: clamp(1rem, 100vw, 89rem);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#header-title {
  background: var(--headerColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(0.1rem, 12vw, 5rem);
}

#button-panel {
  position: absolute;
  display: flex;
  width: clamp(1rem, 70vw, 70rem);
  justify-content: flex-end; 
  align-items: center;
  top: 8rem;
}

#add-button {
  width: 3.5rem;
  height: 3.5rem;
  font-family: 'Dejavu Sans', sans-serif;
  background-color: var(--buttonPanelColor);
  color: #24272c;
  border: none;
  border-radius: 50%;
  font-size: clamp(0.1rem, 9vw, 2.5rem);
  padding-bottom: 0.4rem;
}

#search-bar {
  position: absolute;
  left: 0;
  background-color: var(--backgroundColor);
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 1.6rem;
  color: #59aedc;
  width: 10rem;
  height: 3rem;
  border: 0.15rem solid var(--buttonPanelColor);
  border-radius: 1.3rem;
  margin-top: 2rem;
  outline: none;
}

#search-bar::placeholder {
  color: #5a616d;
}

#book-shelf {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start;
}

.book {
  margin: 1rem;
  border: #4f5560 solid 1px;
  border-radius: 1rem;
  width: 20rem;
  height: 27rem;
}

@media (max-width:700px) {
  body {
    width: 100vw;
  }

  .book {
    margin: 0.3rem;
    width: 12rem;
    height: 15rem;
  }

  #search-bar {
    left: auto;
    right: 74%
  }
}

@media (max-width:375px) {
  .book {
    width: 11rem;
    height: 14rem;
  }
}

@media (max-width:325px) {
  .book {
    width: 10rem;
    height: 13rem;
  }
}