*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

:root {
  --backgroundColor: #282c32;
  --searchBarColor: #585d6b;
  --buttonPanelColor: #ff8383;
  --removeButtonColor: #ff8383;
  --readButtonColor: #67b45c;
  --bookColor: #30333b;
  --headerColor: -webkit-linear-gradient(0deg, #58e0ff 0%, #ff5f5f 100%);
}

html {
  font-size: 62.5%;
  background: var(--backgroundColor);
  display: flex;
  justify-content: center;
}

body {
  box-sizing: border-box;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: clamp(1rem, 100vw, 100rem);
}

header {
  display: flex;
  justify-content: center;
  width: clamp(1rem, 100vw, 100rem);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

#header-title {
  background: var(--headerColor);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(0.1rem, 12vw, 5rem);
  margin-right: 3.3rem;
}

#books-emoji {
  font-size: clamp(0.1rem, 12vw, 4.5rem);
  margin-top: 0.3rem;
  margin-right: 1rem;
}

button {
  cursor: pointer;
}

#button-panel {
  position: absolute;
  display: flex;
  width: clamp(1rem, 70vw, 80rem);
  justify-content: flex-end; 
  align-items: center;
  top: 8rem;
}

#add-button {
  width: 3.5rem;
  height: 3.5rem;
  font-family: 'Dejavu Sans', sans-serif;
  background-color: var(--buttonPanelColor);
  color: #24272c;
  border: none;
  border-radius: 50%;
  font-size: 2.2rem;
  line-height: 0;
  padding-bottom: 0.2rem;
}

#add-button:hover {
  background-color: #ff9090;
}

#add-button:active {
  background-color: rgb(255, 162, 162);
}

#search-title-or-author {
  position: absolute;
  left: 0;
  margin-bottom: 3rem;
  margin-left: 0.3rem;
  font-size: 1.2rem;
  color: #767c86;
  cursor: pointer;
  transition: color 1s;
}

#search-title-or-author:hover {
  color: #ff9090;
  transition: color 0s;
}

#search-title-or-author:active {
  color: rgb(255, 162, 162);
  transition: color 0s;
}

#search-bar {
  position: absolute;
  left: 0;
  background-color: var(--backgroundColor);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: #767c86;
  width: 12rem;
  height: 2.5rem;
  border: 0.15rem solid #767c86;
  border-radius: 1.3rem;
  margin-top: 2rem;
  outline: none;
}

#search-bar::placeholder {
  color: #767c86;
}

#book-shelf {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start;
}

#add-book-form {
  position: absolute;
  margin-top: 13.7rem;
  margin-left: 38%;
  width: 35rem;
  height: 31rem;
  z-index: 100;
  border: #4f5560 solid 0.5px;
  background-color: var(--bookColor);
  border-radius: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#add-book-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

#add-book-form h1 {
  background: #acacb4;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  margin-bottom: 1.3rem;
}

#submit-button {
  color: #24272c;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.6rem;
  height: 3rem;
  width: 7rem;
  border-radius: 2rem;
  border: none;
  background: #57cce6;
  cursor: pointer;
  margin-top: 2rem;
}

#submit-button:hover {
  background: #77dcf2;
}

#submit-button:active {
  background: #96e2f4;
}

#close-form-button {
  border: 0.1rem solid #767c86;
  border-radius: 50%;
  background: none;
  font-size: 1.2rem;
  color: #767c86;
  right: 5%;
  top: 5%;
  width: 1.9rem;
  height: 1.9rem;
  position: absolute;
  line-height: 0;
  padding-bottom: 0.1rem;
}

#close-form-button:hover {
  background-color: var(--removeButtonColor);
  border-color: var(--removeButtonColor);
  color: var(--backgroundColor);
}

#close-form-button:active {
  background-color: rgb(255, 162, 162);
  border-color: rgb(255, 162, 162);
}

#add-book-form input {
  width: 21rem;
  height: 2.3rem;
  font-family: 'Dejavu Sans', sans-serif;
  font-size: 1.6rem;
  color: #acacb4;
  font-weight:500;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 2rem;
  border: none;
  outline:none;
  background-color: #4f535b;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#add-book-form input::placeholder {
  text-align: center;
  color: #acacb4;
  font-size: 1.6rem;
}

#sparkles {
  font-size: 2.5rem;
  margin-top: 1.7rem;
  margin-bottom: 0.5rem;
}

.book {
  margin: 1rem;
  border: #4f5560 solid 0.5px;
  border-radius: 1rem;
  background-color: var(--bookColor);
  color: #acacb4;
  width: 18rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
}

.book:focus {
  border: #ff8383 solid 0.9px;
}

.book img {
  padding: 0.3rem;
  height: 70%;
  filter: brightness(75%);
}

.book h3 {
  font-size: 1.3rem;
  text-align: center;
  max-height: 4.8rem;
  font-weight: 400;
}

.book h6 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 300;
  color: #919198;
}

.book-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

.book-buttons button {
  border: 0.1rem solid #767c86;
  border-radius: 1.3rem;
  background: none;
  font-size: 1.2rem;
  color: #767c86;
  margin-left: 4.5rem;
}
.book-buttons button:nth-child(1) {
  width: 7.3rem;
  height: 2rem;
}

.book-buttons button:nth-child(2) {
  margin-left: 2.7rem;
  border-radius: 50%;
  border-width: 0.1rem;
  width: 1.4rem;
  height: 1.4rem;
  padding-bottom: 0.1rem;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  line-height: 0;
}

.book-buttons button:nth-child(2):hover {
  background-color: var(--removeButtonColor);
  border-color: var(--removeButtonColor);
  color: var(--backgroundColor);
}

.book-buttons button:nth-child(2):active {
  background-color: rgb(255, 162, 162);
  border-color: rgb(255, 162, 162);
}

#to-the-top-button {
  position: sticky;
  bottom: 5%;
  margin-left: 90vw;
  background: #4b4f55;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  border: none;
  color: #86868d;
  opacity: 70%;
  transition: opacity 0.2s ease;
  text-align: center;
  cursor: pointer;
}

#to-the-top-button:hover {
  background: #5f656c;
  color: #9595a0;
  opacity: 100%;
}

#to-the-top-button:active {
  background: #6c727a;
  color: #a3a3ae;
  opacity: 100%;
}

#stats {
  color: #acacb4;
  margin-right: 6rem;
  font-size: 1.5rem;
  padding: 0.6rem;
  border: #4f5560 solid 0.5px;
  border-radius: 1rem;
  background-color: var(--bookColor);
}

#empty-page-message {
  font-size: clamp(0.1rem, 6vw, 2.5rem);
  color: #acacb4;
  top: 37vh;
  position: absolute;
  padding: 2rem;
  width: 60rem;
  text-align: center;
  border: #4f5560 solid 0.5px;
  border-radius: 1rem;
  background-color: var(--bookColor);
}

#empty-page-message span {
  color: var(--buttonPanelColor);
}

.move-left-button, .move-right-button {
  background: none;
  border: none;
  color: #575b63;
  font-size: 1.7rem;
  padding: 0;
  position: absolute;
  transition: color 1s;
}

.move-left-button {
  margin-right: 16.6rem;
}

.move-right-button {
  margin-left: 16.6rem;
}

.move-right-button:hover, .move-left-button:hover {
  color: #ff9090;
  transition: color 0s;
}

.move-right-button:active, .move-left-button:active {
  color: rgb(255, 162, 162);
  transition: color 0s;
}

@media (max-width: 930px) {
  #stats {
    margin-right: 3rem;
    font-size: 1.5rem;
    padding: 0.6rem;
  }
}

@media (max-width: 830px) {
  #stats {
    margin-right: 3rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 0.4rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }

  #add-book-form {
    margin-top: 15rem;
  }

}

@media (max-width: 700px) {
  body {
    width: 100vw;
  }

  #empty-page-message {
    width: 89vw;
    padding: 1rem;
  }

  #stats {
    margin-right: 6.4rem;
    font-size: 1.1rem;
    margin-top: 3.3rem;
    padding: 0.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  #book-shelf {
    margin-top: 1.2rem;
  }

  .book {
    padding: 0.6rem;
    margin: 0.7rem;
    width: 11rem;
    height: 17rem;
  }

  .book img {
    padding: 0rem;
    height: 60%;
    margin-bottom: 0.2rem;
  }

  .book h3 {
    font-size: 0.9rem;
  }
  
  .book h6 {
    font-size: 0.5rem;
  }

  .book-buttons {
    margin-top: 0.4rem;
    margin-bottom: 0rem;
  }
  
  .book-buttons button {
    border: 0.05rem solid #767c86;
    border-radius: 1.3rem;
    font-size: 0.7rem;
    margin-left: 2rem;
  }
  .book-buttons button:nth-child(1) {
    width: 5rem;
    height: 1.3rem;
  }
  
  .book-buttons button:nth-child(2) {
    margin-left: 1rem;
    border-radius: 50%;
    border-width: 0.09rem;
    width: 1.1rem;
    height: 1.1rem;
    font-size: 0.9rem;
    margin-top: 0.1rem;
  }

  #search-bar {
    height: 2.3rem;
    width: 10rem;
    left: 0;
    margin-top: 4rem;
    font-size: 1.3rem;
  }

  #search-title-or-author {
    left: 0;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
    font-size: 1.1rem;
  }
  
  #add-button {
    width: 3rem;
    height: 3rem;
    font-size: 2.1rem;
    margin-top: -2rem;
  }

  #add-book-form {
    margin-top: 15rem;
    margin-left: 20%;
  }

  .move-left-button {
    margin-right: 10.1rem;
  }
  
  .move-right-button {
    margin-left: 10.1rem;
  }

  .move-left-button, .move-right-button {
    font-size: 1.3rem;
  }

}

#search-results-container {
  margin-top: 15rem;
  z-index: 100;
  position: absolute;
  left: 12%;
  width: 30rem;
  height: auto;
  background: #30333b8a;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  display: none;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 1rem;
  border: 0.5px solid #767c8681;
  transition: 1s;
}

.search-link {
  font-family: 'Dejavu Sans', sans-serif;
  color: #acacb4;;
  font-size: 1.6rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  align-self: flex-start;
  transition: 1s;
  cursor: pointer;
}

.search-link:hover {
  color: #57cce6;
  transition: color 0s;
}

.search-link:active {
  color: #96e2f4;
  transition: color 0s;
}

@media (max-width: 420px) {
  #add-book-form {
    width: 98vw;
    margin-top: 15.5rem;
    margin-left: 0rem;
    height: 31rem;
  }

  #add-button {
    width: 3rem;
    height: 3rem;
    font-size: 2.1rem;
    margin-top: -2rem;
    margin-right: -2rem;
  }

  #to-the-top-button {
    bottom: 6%;
    margin-left: 91vw;
  }
  #search-results-container {
    left: auto;
    width: 98vw;
    right: auto;
    margin-top: 15.5rem;
  }

  #search-bar {
    height: 2.3rem;
    width: 10rem;
    left: 0;
    margin-top: 4.5rem;
    font-size: 1.3rem;
    margin-left: -3rem;
  }

  #search-title-or-author {
    left: 0;
    margin-bottom: -0.5rem;
    margin-left: -2.8rem;
    font-size: 1.1rem;
  }

  #stats {
    margin-right: 5.2rem;
    font-size: 1.1rem;
    margin-top: 3.8rem;
    padding: 0.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  #book-shelf {
    margin-top: 1.4rem;
  }
}

@media (max-width:375px) {
  .book {
    width: 11rem;
    height: 17rem;
    margin: 0.3rem;
  }

  #search-bar {
    height: 2.3rem;
    width: 10rem;
    left: 0;
    margin-top: 4.4rem;
    font-size: 1.3rem;
    margin-left: -3.6rem;
  }

  #search-title-or-author {
    left: 0;
    margin-bottom: -0.2rem;
    margin-left: -3.3rem;
    font-size: 1.1rem;
  }

  #book-shelf {
    margin-top: 2rem;
  }

  #stats {
    margin-right: 4.3rem;
  }
}

@media (max-width:325px) {
  .book {
    width: 10rem;
    margin: 0.2rem;
  }

  #search-bar {
    margin-top: 1.3rem;
  }

  #add-book-form {
    margin-top: 15.5rem;
  }

  #search-bar {
    height: 2.3rem;
    width: 10rem;
    left: 0;
    margin-top: 3.3rem;
    font-size: 1.3rem;
    margin-left: -3.6rem;
  }

  #search-title-or-author {
    left: 0;
    margin-bottom: 0.5rem;
    margin-left: -3.3rem;
    font-size: 1rem;
  }

  #book-shelf {
    margin-top: 2.7rem;
  }

  #stats {
    margin-right: 2.7rem;
  }

  .move-left-button {
    margin-right: 9.5rem;
  }
  
  .move-right-button {
    margin-left: 9.5rem;
  }

  .move-left-button, .move-right-button {
    font-size: 0.7rem;
  }
}

@supports (-webkit-backdrop-filter: blur(1px)) {
  #add-button {
    padding-bottom: 0.3rem;
  }

  .book-buttons button:nth-child(2) {
    padding-bottom: 0.1rem;
  }
}